<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<!-- Head -->
<head>
  <title>Event Manager</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<!-- Page Content -->
<body class="bg-light" style="height: 90%;">
    <div class="col-lg container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <div class="pt-5 pb-2 text-center">
                <h1 class="text-black mb-4 " style="text-align: center;">{{ note | safe }}</h1>
            </div>

            <div class="row justify-content-center pt-5">
                <a href="/" class="btn btn-primary js-scroll-trigger">Return to home</a>
            </div>
        </div>
    </div>
</body>


